<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287836041890-qclbglafk89ugtdp58o5g4e3geb2th6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287836041890-qclbglafk89ugtdp58o5g4e3geb2th6l</string>
	<key>API_KEY</key>
	<string>AIzaSyD1W-Akj0MGO2kwLiUgSd_31l-ePc0RrXU</string>
	<key>GCM_SENDER_ID</key>
	<string>287836041890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EcommerceDemo</string>
	<key>PROJECT_ID</key>
	<string>push-notification-1-87dd8</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-1-87dd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287836041890:ios:8e55ddb2ddb75fe67e1dfb</string>
</dict>
</plist>